

{% extends "navigate.html" %} {% block mainbody %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />

</head>
<title>删除实体</title>
<div class="container">
    <div class="row">
    <!-- head start -->
    <div class="col-md-12">
        <h3 class="page-header"> 删除实体 - delete entity </h3>
            <ol class="breadcrumb">
                <li><a href="\">Home</a></li>
            </ol>
    </div>


    <div class = "col-md-12">
        <div class="panel panel-default ">
            <header class = "panel-heading">
                输入想要删除的实体：
            </header>

            <div class = "panel-body">
                <!--搜索框-->
                <form method="post" action="/delete">
                    {{ form.csrf_token }}
                    <div>
                        <div class="input-group">
                            {{ form.entity(class="form-control", placeholder="输入实体名称") }}
                            {{ form.submit(class="btn btn-primary", style="background-color:#4592fe; margin: 20px 0px;") }}
                        </div>
                        {% for message in form.entity.errors %}
                            <small style="color:#f9002f">{{ message }}</small><br>
                        {% endfor %}
                    </div>
                </form>
            </div>

        </div>
    </div>
    
    <p>
        <div class = "col-md-12">
            {% if not ctx %}
                <div class="panel panel-default">
                    <header class ="panel-heading">
                        <h2>不存在该实体</h2>
                    </header>
                </div>
            {% endif %}
        </div>
    </p>
    </div>
</div>
{% endblock %}
